/*  loading-container */
.errorContainer {
    z-index: 100000;
    height: 200px;
    width: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40%;
    top:50px;
    padding:15px;
    border-radius: 20px;
    background-color: rgba(241, 240, 245, 0.61); /* Dark background */
  }
  #closeErrorBtn{
    position: relative;
    left: 75%;
    top: 10px;
    border: none;
    border-radius: 10px;
    width:40px;
    height:35px;
    font-weight: 900;
    color:#fff;
    background-color: #003f796b;
  }
  #closeErrorBtn:hover{
    background-color:rgb(48, 49, 49);
    color: #fff;
    font-size:20px;
  }
  .errorText{
    color: rgb(59, 59, 61);
    flex-wrap: wrap;
    font-weight:600;
    font-size:20px;
  }

#Foot_Soldiers_mainDiv {
    background-color: #ffffff;
    min-height: 100vh;
    width: 100%;
    margin-top: 80px;
}
#footSoldierHeaderDiv{
    position: relative;
    top: -90px;
    /* left: 50px; */
}
#footSoldiersImage{
    position: relative;
    left: 85vw;
    min-width: 50px;
    height: 80px;
}

#Foot_Soldiers_wrapperDiv {
    padding: 0.5rem 7.5rem;
    /* margin-top: -30px; */
    /* border: 2px solid black; */
}
#allCardsDiv{
    display: flex;
}
#Foot_Soldiers_cardDiv {
    display: grid;
    grid-template-columns: max-content;
    margin-right: 50px;
    width:400px;
    column-gap: 2rem;
}
#eachTotCard{
    margin-bottom: 10px;
}
/* Slider section starts */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 300px;
    margin: auto;
  }
  
  .card {
    width: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .slider-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

#Foot_Soldiers_headerText {
    color: #1A1A1A;
    font-size: 1.55rem;
    line-height: 1.5rem;
}


#Customer_Support_performanceDiv {
    width: 100%;
    height: 29.37rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    color: #767676;
    box-sizing: border-box;
}

#performance_headerDiv {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    padding: 0 2rem;
    box-sizing: border-box;
    color: #0E093C;
}

#performance_headerDiv button {
    width: 5.12rem;
    height: 1.68rem;
    border-radius: 0.45rem;
    /* background-color: #0E093C;
    border: none;
    color: #FFFFFF; */
    font-size: 0.69rem;
}

#performance_headerDiv #dateText {
    font-size: 0.95rem;
    color: #767676;
}

#date_viewDiv {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

#Customer_Support_performanceDiv table {
    width: 100%;
}

#Customer_Support_performanceDiv tr {
    color: #767676;
    font-size: 1.2rem;
    height: 3rem;
}

#Customer_Support_performanceDiv td button{
font-size: 0.69rem;
border-radius: 0.5rem;
height: 1.87rem;
width: 5.12rem;
padding: 0.4rem;
}

#Customer_Support_performanceDiv td {
    padding: 0 2.1rem;
    box-sizing: border-box;
}

.performing_agentText {
    color: #0E093C;
    font-weight: bold;
}
#onboarded_users_wrapperDiv {
    background-color: #FFFFFF;
    width: 100%;
    height: 24.12rem;
    border-radius: 1rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
}
#table{
    margin-top: 30px; 
    margin-left: -30px; 
}

#onboarded_users_headerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #707070;
}

#onboarded_users_wrapperDiv table {
    border-collapse: collapse;
    width: 100%;
}

#onboarded_users_wrapperDiv #headerTable {
    height: 2.75rem;
    font-size: 1.1rem;
    color: #000000;
    background-color: #F1F1F1;
    border-bottom: none;
}

#onboarded_users_wrapperDiv td {
    padding: 0 1rem;
}

#onboarded_users_wrapperDiv th {
    padding: 1rem;
    text-align: left;
}

#onboarded_users_wrapperDiv tr {
    color: #666666;
    font-size: 0.93rem;
    height: 3.5rem;
    border-bottom: 1px solid #C4C4C4;

}

#onboarded_users_wrapperDiv tr:last-child {
    border-bottom: none;
}

#Foot_Soldiers_table_revenueDiv {
    display: flex;
    column-gap: 2rem;
    margin-top: 2rem;
}

#Revenue_StatsDiv {
    width: 100%;
}

.Revenue_earningDiv {
    width: 100%;
    height: 15.37rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    box-sizing: border-box;
}

#Revenue_headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#priceText {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#Revenue_wrapperDiv {
    display: flex;
    width: 100%;
    column-gap: 2rem;
}

.btnDiv {
    text-align: center;
}

#foot_soldiers_stats_cardDiv {
    display: flex;
    height: 6.9rem;
    column-gap: 1.18rem;
    margin-top: 1.8rem;
}


.Revenue_earningDiv #Revenue_percentText {
    font-size: 1.12rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-top: -2rem;
}

.Revenue_earningDiv .earningText {
    font-size: 1rem;
    color: #989797;
    height: 0;
    line-height: 0;
}

.Revenue_earningDiv button {
    width: 10.8rem;
    height: 2.3rem;
    background-color: #D5E5FF;
    color: #0E093C;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 0.31rem;
    cursor: pointer;
}

.Revenue_earningDiv #dateText {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 1rem;
    color: #0E093C;
    height: 0;
    line-height: 0;
}

@media(max-width: 480px){
    #Foot_Soldiers_wrapperDiv{
        display: grid;
        /* margin-bottom: -35px; */
    }
    #Foot_Soldiers_headerText{
        position: relative;
        right: 100px;
    }
    #Foot_Soldiers_cardDiv{
        display:  grid;
        justify-self: left;
        position: relative;
        left: -122px;
        width: 100vw;
    }
    #Foot_Soldiers_table_revenueDiv{
        display:  grid;
        justify-self: left;
        position: relative;
        left:-120px;
        width: 100vw;
    }
    #onboarded_users_wrapperDiv{
        width: 100vw;
        overflow: scroll;
        margin-bottom: 20px;
    }
    #Revenue_wrapperDiv{
        width:  100vw;
        overflow: scroll;
        margin-left: 10px;
    }
    #foot_soldiers_stats_cardDiv{
        display: grid;
        height: 160px;
    }
    #Cards{
        margin-bottom: 10px;
    }

}