.errorContainer {
  z-index: 100000;
  height: 200px;
  width: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 40%;
  top:50px;
  padding:15px;
  border-radius: 20px;
  background-color: rgba(241, 240, 245, 0.61); /* Dark background */
}
#closeErrorBtn{
  position: relative;
  left: 75%;
  top: 10px;
  border: none;
  border-radius: 10px;
  width:40px;
  height:35px;
  font-weight: 900;
  color:#fff;
  background-color: #003f796b;
}
#closeErrorBtn:hover{
  background-color:rgb(48, 49, 49);
  color: #fff;
  font-size:20px;
}
.errorText{
  color: rgb(59, 59, 61);
  flex-wrap: wrap;
  font-weight:600;
  font-size:20px;
}

/*  loading-container */
.loadingContainer {
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(17, 10, 10, 0.397); /* Dark background */
  }
  
  .speeding-object {
    width: 100px; /* Adjust based on your image */
    height: auto;
  }
  /*  loading-container ends here*/ 



#All_Users_mainDiv{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    margin-top: 80px;
}
#All_Users_wrapperDiv{
   padding: 0rem 7.5rem 5rem;
   margin-top:40px;
}
#button_Div{
    display: flex;
    justify-content: end;
    position: relative;
    margin-top: -2rem;
}
#button_Div button{
    width: 8.75rem;
    height: 2.3rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: #ED2F2F;
}


@media (max-width: 480px) {
    #AllUsers_com_Div{
      margin-top: 20px;
     position: absolute;
     left: 0%;
     width: 100vw;
     padding: 3px;
     overflow: scroll;
     border: 2px solid black;
    }
    #button_Div{
     display: grid;
     position: absolute;
     right: 2%;
     top:22%;
    }
 }