#mapLegend{
    color: black;
    display: flex;
    justify-content: space-between;
}
#colorCodes{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 5px;
}
#colorCodes span{
    margin-right: 5px;
}
#colorText{
    display: flex;
}
#redBox{
    border: 6px solid red;
    border-radius: 30%;
    width: 5%;
    height: 3px;
    margin-left: 5px;
    margin-top: 3px;
}
#greenBox{
    border: 6px solid green;
    border-radius: 30%;
    width:5%;
    height: 3px;
    margin-left: 5px;
    margin-top: 3px;
}
#yellowBox{
    border: 6px solid rgb(255, 217, 0);
    border-radius: 30%;
    width:5%;
    height: 3px;
    margin-left: 5px;
    margin-top: 3px;
    /* margin-left: 10px; */
}
#toggleContainer{
    margin-top: 5px;
    display:  flex;
    justify-content: space-between;
}
/* #toggleContainer{
    display: 'flex';
    gap: '10px';
    margin: '20px 0';
} */
.button{
padding: 10px 20px;
border: none;
border-radius: 4px;
background-color: #f0f0f0;
color: #333;
cursor: pointer;
margin-right: 10px;
/* transition: background-color 0.3s, color 0.3s; */
}
.activeButton{
    padding: 10px 20px;
    /* border: none; */
    border-radius: 24px;
    background-color: #161725;
    color: #f3ecec;
    cursor: pointer;
    margin-right: 10px;
 }