#Game_History_mainDiv{
    width: 100%;
    min-height: 100vh;
    background-color: #F9F9F9;
}
#Game_History_wrapperDiv{
    padding: 6.74rem 7.5rem 5rem;
}
#Game_History_input_FilterDiv{
    width: 100%;
    display: flex;
    align-items: end;
    column-gap: 1rem;
    justify-content: end;
    margin-bottom: 3.5rem;
}
#Game_History_input_FilterDiv p{
    display: flex;
    column-gap: 0.5rem;
    font-size: 0.93rem;
    color: #707070;
}
#Game_History_input_FilterDiv p img{
    width: 1rem;
}
#Game_History_input_FilterDiv #searchDiv img{
    position: absolute;
    width: 15px;
    padding-left: 0.7rem;
    padding-top: 1rem;
    /* top: 0.5rem; */
}
#searchDiv{
    display: flex;
    align-items: center;    

}
#searchDiv input{
    position: relative;
    width: 14.5rem;
    border-radius: 0.75rem;
    padding-left:2.5rem;
    box-sizing: border-box;
    height: 2.43rem; 
}
#imgDiv img{
    height: 2.43rem;
    margin: 0 0.4rem -0.2rem;

}
#gamePad_inputFieldDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Game_History_mapDiv{
    /* display: flex;
    column-gap: 2.24rem;
    row-gap: 2.5rem;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-content: center;
    gap: 2.3rem;
}