#Reports_mainDiv {
    width: 100%;
    min-height: 100vh;
    background-color: #F9F9F9;
}

#Reports_WrapperDiv {
    padding: 5rem 7.5rem;
}
#Query_header_filterDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

#Input_filterDiv{
    display: flex;
    align-items: center;
    column-gap: 0.9rem;
    /* margin-bottom: 0.7rem; */
}
#Input_filterDiv #searchDiv img{
    position: absolute;
    width: 0.93rem;
    left: 1rem;
    top: 1.7rem;
    fill: #9e9ea7;
}
#searchDiv{
    margin-top: -1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#searchDiv input{
    width: 14.5rem;
    border-radius: 12px;
    padding-left:2rem ;
    box-sizing: border-box;
    height: 2.5rem;  
}

.ReportsText {
    font-size: 1.56rem;
    color: #1A1A1A;
}

#Total_Stats_CardWrapper {
    display: flex;
    column-gap: 1.5rem;
}

#Reports_mapDiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.7rem;
    row-gap: 1.5rem;
    /* height: 17.5rem; */
}

#Query_Stats_MapCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    height: 17.5rem;
    color: #fc9e2f4d;
}

#Reports_Table_WrapperDiv {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-sizing: border-box;
    margin-top: 1rem;
}

#Reports_Table_WrapperDiv table {
    width: 100%;
    border-collapse: collapse;
}

#Reports_Table_WrapperDiv #headerTable {
    height: 4.5rem;
    color: #000000;
    font-size: 1rem;
    font-weight: lighter;
    border-bottom: 1px solid #C4C4C4;
}

#Reports_Table_WrapperDiv tr {
    color: #666666;
    font-size: 0.9rem;
    height: 15.5rem;
    border-bottom: 1px solid #C4C4C4;
}
#Reports_Table_WrapperDiv tr:last-child{
    border-bottom: none;
}
#Reports_Table_WrapperDiv .tableText {
    color: #262626;
    font-weight: bold;
}

#Reports_Table_WrapperDiv th,
td {
    padding: 0 1rem;
    box-sizing: border-box;

}

#Reports_Table_WrapperDiv th {
    text-align: left;
}

.statusText {
    background-color: #fc9e2f33;
    border: none;
    color: #FC9E2F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.81rem;
    width: 4.25rem;
    border-radius: 0.25rem;
    height: 1.62rem;
}
.tableText{
    width: 10rem;
}
#statusText2{
    background-color:#31c36433;
    border: none;
    color: #31C364;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.81rem;
    width: 4.25rem;
    border-radius: 0.25rem;
    height: 1.62rem;
}
.Media_query{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: #262626;
    font-size: 1rem;
    font-weight: bold;
}