/*  loading-container */
.errorContainer {
  z-index: 100000;
  height: 150px;
  width: 150px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 43%;
  padding:15px;
  border-radius: 20px;
  background: linear-gradient(to top, #f2f5f9 0%,#eff1f3 50%, #ffffff 100%);
}
.signOutBtn{
  cursor: pointer;
  text-align: center;
}
.signOutBtn:hover{
  color:rgb(158, 3, 3);
}
#closeErrorBtn{
  position: relative;
  left: 75%;
  top: 10px;
  border: none;
  border-radius: 10px;
  width:30px;
  height:30px;
  font-weight: 900;
  color:#fff;
  background-color: #003f796b;
}
#closeErrorBtn:hover{
  background-color:rgb(48, 49, 49);
  color: #fff;
  font-size:20px;
}
.errorText{
  color: rgb(59, 59, 61);
  flex-wrap: wrap;
  font-weight:600;
  font-size:10px;
}