#DiceGame_mainDiv {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    margin-top: 70px;
}
#DiceGame_wrapperDiv {
    padding: 2.5rem 7.5rem 10rem 7.5rem;
    margin-top: 40px;
}
.PlaceBet_headerText {
    color: #1A1A1A;
    background-color: rgba(196, 196, 196, 0.14);
    border-radius: 29px;
    width: 320px;
    height: 50px;
    padding-left: 20px;
    align-content: center;
    /* align-content: ; */
    font-size: 1.55rem;
    line-height: 38px;
    font-weight: 400;
}
.PlaceBet_headerText_Two {
    color: #1A1A1A;
    background-color: rgba(196, 196, 196, 0.14);
    border-radius: 29px;
    width: 320px;
    height: 50px;
    padding-left: 20px;
    align-content: center;
    /* align-content: ; */
    font-size: 1.55rem;
    line-height: 38px;
    font-weight: 400;
    /* margin-top: -80px; */
    /* margin-left: 110px; */
}

#DiceGame_Card_mapDiv {
    display: flex;
    column-gap: 2rem;
}

#DiceGame_Card_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 28%;
    height: auto;
    margin-left: 25px;
    margin-top: 10px;
    /* border: 2px solid black; */
    justify-content: center;
    align-content:center;
}
#nanoTableDiv{
    /* border: 1px solid black; */
    max-width: 400px;
    height: 120vh;
    overflow: scroll;
}
#DoughnutChartDiv{
    width: 70%;
    margin-top:-20px;
    margin-left:100px ;
    align-content: center;
    color:black;
    display:flex;
    flex-direction: row;
    /* border: 2px solid black; */
    padding-top: 20px;
}
#DoughnutChartContainer{
    display: grid;
    width: 35vw;
    /* height: 40vh; */
    /* border: 2px solid black; */
    margin-top: -60px;
    /* margin-right: 50px; */

}
.gridContainer {
    position: relative;
    /* top: -160px; */
    display: flex;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    /* padding-left: 4.5rem;
    padding-right: 4.5rem; */
  }
  .card {
    -ms-overflow-style: none;  /* Hides scrollbar in IE and Edge */
    scrollbar-width: none;  /* Hides scrollbar in Firefox */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
  }

  .onlineUserRow{
    transition: transform 0.3s ease-in-out;
  }
  .onlineUserRow:hover{
    transform: scale(1.5)  ;
  }
  
  
  #doughnutChart{
    /* border: 2px solid black; */
    width: 35vw ;
    max-height: 38vh;
    position: relative;
    /* top: 40px; */
    left: 45px;
}
  .cardCentered {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .cardTitle {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1rem;
    /* border: solid; */
  }
  .userItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 5px;
  }
  #scaler{
    transition: transform 0.3s;

  }
  #scaler:hover {
    transform: scale(1.5);
  }
  .viewAllBtn{
    width: 85%;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
  }
  .viewAllBtn:hover{
    background-color: blue;
    color: white;
  }

  
  .userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
    .userName {
    font-size: 0.875rem;
    font-weight: 500;
  }
  .flagContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 2rem;
    margin-top: 0.5rem;
  }

.Revenue_earningDiv {
    width: 100%;
    height: 15.37rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    box-sizing: border-box;
}

.Revenue_earningDiv #Revenue_percentText {
    font-size: 1.12rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-top: -2rem;
}

.Revenue_earningDiv .earningText {
    font-size: 1rem;
    color: #989797;
    height: 0px;
    line-height: 0.5rem;
}

.Revenue_earningDiv .priceText {
    font-size: 1.12rem;
    color: #000000;
    font-weight: bold;
    line-height: 0.1rem;
}

.Revenue_earningDiv .Revenue_infoText {
    width: 100%;
    font-size: 0.9rem;
    color: #989797;
    text-align: center;
    margin-top: 1.3rem;
}

#Revenue_progressDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#SmileyImg_Div{
    margin-top: -1rem;
    margin-left: -2rem;
    box-sizing: border-box;
 }
#Revenue_smileyImg{
    margin-top: -3rem;
    text-align: center;
}
.Revenue_progressBar {
    width: 10.62rem;
    height: 5.3rem;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 10px solid #F6F6F6;
    border-bottom: 0;
}
#Revenue_total_EarningDiv {
    width: 100%;
    display: flex;
    column-gap: 1.5rem;
}

#DiceGame_cardGraph_wrapper {
    width: 100%;
    /* margin-top: 180px; */
    justify-self: center;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    /* padding-right: 20px; */
    /* border: 3px solid black; */
}
#DiceGame_Card_wrapper :hover{
    box-shadow:2px 0px  102px 0px rgb(219, 218, 218) ;
    border-radius: 30px;

}
#DoughnutChartContainer :hover{
    /* box-shadow:2px 0px  102px 0px rgb(219, 218, 218) ; */
    border-radius: 30px;
}
#AreaChartDiv{
    /* display: none; */
    max-width: 80%;
    max-height: 90%;
    margin-left: -140px;   
    /* border: 2px solid black; */
    align-self: center;
    justify-self: center;
    padding-left: -60px;
    align-content: left;
    justify-content: left;
}
#AreaChartDiv:hover{
    /* box-shadow:2px 0px  102px 0px rgb(219, 218, 218) ; */
    border-radius: 30px;
}
#Revenue_progressDiv img {
    margin-left: 2rem;
}

#DiceGame_lastline_graphDiv {
    width: 85%;
    height: 38.3rem;
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    justify-self: center;
}
#BarChart_TextWrapperDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
#AreaChartDiv {
    width:100%;
    height: 27rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 2.5rem 3rem;
    box-sizing: border-box;
}

#AreaChartDiv #AreaChart_TextDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: -50px;
    box-sizing: border-box;
}

#AreaChart_weeklyText {
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

#AreaChart_dateText {
    color: #707070;
    font-size: 0.95rem;
}

#Chart_mainDiv {
   width: 100%;
    height: 27rem;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 1rem;
    box-sizing: border-box;
}

#PayoutsText {
    display: flex;
    margin-bottom: 1rem;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
    border-bottom: 1.5px solid #E3E3E3;
    font-size: 1.125rem;
    color: #003E79;
}
#DiceGame_Card_wrapper{
    margin-left: 100px;
}
#DiceGame_Card_wrapper_two{
    display: flex;
    column-gap: 2rem;
}
.Sports_selectionDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.56rem;
    height: 2.75rem;
    border-radius: 0.75rem;
    border: 1px solid #0E093C;
    font-size: 1.25rem;
    color: #0E093C;
    background-color: transparent;
}
#Sports_selection_wrapperDiv{
    display: flex;
    column-gap: 0.9rem;
}
#basket{
    position: relative;
    margin-top: 0.45rem; 
}
#divTextColor{
    color:#fff;
}


@media (max-width: 480px) {
    #DiceGame_mainDiv{
        display: grid; 
        height: auto; 
        border: 1px solid red;  
    } 
    #DiceGame_wrapperDiv{
        display: grid;
        width: 100vw;
        justify-self: center;
        margin-top: 30px;
    }
    .PlaceBet_headerText{
        position: relative;
        /* top:-500px; */
        right: 100px;
    }
    #DiceGame_Card_mapDiv{
        display: grid;
        width: 100vw;
        position: relative;
        right: 121px;
    }
    #DiceGame_cardGraph_wrapper{
        display: grid;
        width: 100vw;
        /* border: 1px solid black; */
        overflow:  scroll;
        position: relative;
        left: -120px;
        /* padding: 15px; */
        /* top:30%; */
    }
    #DiceGame_Card_wrapper{
        width: 100vw;
        margin-bottom: 20px;
    }
    #Revenue_total_EarningDiv{
        width: 100vw;
        overflow: scroll;
        margin-bottom: 20px;
    }
    /* #BarChart_TextWrapperDiv{
        border:1px solid black;
    } */
    #DiceGame_lastline_graphDiv{
        width: 100vw;
        display:  grid;
        justify-self: center;
        align-self: center;
        position: relative;
        left: -120px;
        height: 140vh;
        margin-bottom: -160px;
    }
    #AreaChartDiv{
        width: 100vw;
    }
}