#Transaction_mainDiv {
    width: 100%;
    min-height: 100vh;
    background-color: #F9F9F9;
}

#Transaction_wrapperDiv {
    padding: 6.8rem 7.5rem;
}

#Transaction_mapDiv {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 3.3rem;
}

#TransactionText {
    color: #003E79;
    font-size: 1.2rem;
}

#TransactionText span {
    color: #7429E8;
}

#Amount_Paid_input_FilterDiv {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 1rem;
}

#Amount_Paid_input_FilterDiv span {
    display: flex;
    column-gap: 0.2rem;
    font-size: 0.93rem;
    color: #707070;
}

#Amount_Paid_input_FilterDiv span img {
    width: 1rem;
}

#Amount_Paid_input_FilterDiv #searchDiv img {
    position: absolute;
    width: 15px;
    padding-left: 0.7rem;
}

#searchDiv {
    display: flex;
    align-items: center;
}

#searchDiv input {
    margin-top: -1.1rem;
    width: 14.5rem;
    border-radius: 0.75rem;
    padding-left: 2.5rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
    height: 2.47rem;
}

#imgDiv img {
    height: 2.5rem;
    margin-right: 0.4rem;
}

#Transaction_tableWrapperDiv {
    width: 100%;
    background-color: #FFFFFF;
}

#Transaction_tableWrapperDiv table {
    border-collapse: collapse;
    width: 100%;

}

#transaction_header_inputfield_Div {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 7rem 0 1rem;
}

#statusText {
    min-width: 3.2rem;
    max-width: 4.5rem;
    height: 1.62rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
}

#Transaction_tableWrapperDiv th,
td {
    padding: 0 1.5rem;
    box-sizing: border-box;
    overflow: visible;
    /* Allows text to be visible */
    min-width: 6.2rem;
    /* Set a minimum width for cells */
    max-width: 13rem;
    /* Set a maximum width for cells */
    word-wrap: break-word;

}

#Transaction_tableWrapperDiv tr {
    height: 13.8rem;
    color: #666666;
    font-size: 0.9rem;
    border-bottom: 1px solid #C4C4C4;
}

#Transaction_tableWrapperDiv tr:last-child {
    border-bottom: none;
}

#Transaction_tableWrapperDiv #BankDetails_Div {
    display: flex;
    flex-direction: column;
}

#Transaction_tableWrapperDiv .BankDetails_BoldText {
    font-weight: bold;
    height: 0;
    line-height: 0.9rem;
}

.bank_details_header {
    line-height: 1rem;
}

#Transaction_tableWrapperDiv #headerTable_tr {
    font-size: 1rem;
    height: 5.25rem;
    border-bottom: 1px solid #C4C4C4;
    text-align: left;
}

.userDetail_Text {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 0.9rem;
    color: #262626;
    font-weight: 600;
}

.userDetail_Text #profile_picture {
    width: 1.75rem;
    height: 1.75rem;
}

.userDetail_Text #verified_img {
    width: 0.75rem;
    margin-left: -1rem;
    margin-top: -0.75rem;
    position: absolute;
}

#btn button {
    width: 5.1rem;
    height: 1.37rem;
    padding: 0.2rem;
    font-size: 0.75rem;
}

#calendar_popup {
    position: absolute;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 27rem;
    margin-right: 19rem;
    z-index: 1000;
}