#Winner_loser_mainDiv {
    width: 100%;
    min-height: 100vh;
    background-color: #F9F9F9;
}

#Winner_loser_wrapperDiv {
 
    padding: 5rem 7.5rem;

}

#searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    
}

#searchDiv img {
    position: absolute;
    top: 1.75rem;
    width: 0.93rem;
    left: 1rem;
    fill: #9e9ea7;
}

#searchDiv input {
    width: 18.5rem;
    background-color: #FFFFFF;
    border-radius: 0.75rem;
    padding-left: 2.5rem;
    box-sizing: border-box;
    height: 2.43rem;
}

#Winner_loser_tableDiv {
    width: 100%;
    min-height: 31.81rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
}
#Winner_loser_tableDiv table {
    border-collapse: collapse;
    width: 100%;
}

#Winner_loser_tableDiv th,
td {
    /* padding: 0 1.5rem;
    box-sizing: border-box; */
    padding: 15px;

}


#Winner_loser_tableDiv button {
    width: 5.3rem;
    height: 1.37rem;
    background-color: #075070;
    font-size: 0.7rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    box-sizing: border-box;
}

#Winner_loser_tableDiv tbody tr {
    color: #666666;
    height: 3.43rem;
    font-size: 0.95rem;
    border-bottom: 1px solid #B1B1B1;
}

#Winner_loser_tableDiv #headerTable {
    background-color: #E8E3F9;
    height: 2.75rem;
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: none;
    text-align: left;
}

#Winner_loser_tableDiv .number {
    font-weight: bold;
    color: #000000;
    font-size: 1rem;
}
#Winner_loser_tableDiv #lastline {
    border-bottom: none;
}