/*  loading-container */
.errorContainer {
  z-index: 100000;
  height: 200px;
  width: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 40%;
  padding:15px;
  border-radius: 20px;
  background-color: rgba(241, 240, 245, 0.61); /* Dark background */
}
#closeErrorBtn{
  position: relative;
  left: 75%;
  top: 10px;
  border: none;
  border-radius: 10px;
  width:40px;
  height:35px;
  font-weight: 900;
  color:#fff;
  background-color: #003f796b;
}
#closeErrorBtn:hover{
  background-color:rgb(48, 49, 49);
  color: #fff;
  font-size:20px;
}
.errorText{
  color: rgb(59, 59, 61);
  flex-wrap: wrap;
  font-weight:600;
  font-size:20px;
}
.loadingContainer {
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(17, 10, 10, 0.397); /* Dark background */
}

.speeding-object {
  z-index: 99999;
  width: 100px; /* Adjust based on your image */
  height: auto;
}
/*  loading-container ends here*/ 

#Dashboard_MainDiv {
    background-color: #ffffff;
    min-height: 100vh;
    width: 100%;
    margin-top:60px;
    scrollbar-width: none;

}
#Dashboard_WrapperDiv {
  padding: 5rem 1.5rem;
}

#mapContainer{
  border:2px solid black;
}
#Dashboard_CardGraph_Wrapper {
    width: 100%;
    display: flex;
    column-gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}
#statCards{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#isBlack:hover{
  cursor: pointer;
  background-color: rgba(4, 135, 155, 0.4);
  border-radius:10px;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
} #isPurple:hover{
  cursor: pointer;
  background-color: rgba(11,67,141, 0.15);
  border-radius:10px;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}  #isGreen:hover{
  cursor: pointer;
  background-color: rgba(49,195,100, 0.15);
  border-radius:10px;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
} #isRed:hover{
  cursor: pointer;
  background-color: rgba(237,113,13,0.15);
  border-radius:10px;
  transform: scale(1.05) ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
/* #Dashboard_Card_wrapper {
    width: 100%;
    height: 15.3rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 22px;
} */


#Dashboard_Card_wrapper {
  width: 100%;
  height: 15.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0.8rem;
  margin-top:-320px ;
}


.activeMap{
  border-radius: 20px;
  border: none;
  background-color: #003E79;
  color: white;
}

#BarChart_Div {
    margin-top: -360px;
    margin-left: 30px;
    width: 50%;
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
}

#Dashboard_lineChart {
    display: flex;
    flex-direction: column;
    background-color: #ffffff73;
    border-radius: 25px;
    padding: 1rem 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 37.5rem;
    box-shadow: 1px -2px 9px 0px rgba(128, 128, 128, 0.226) ;
    /* border: 2px solid black; */
}

#Dashboard_RevenueText {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    font-size: 1.125rem;
    color: #333333;
    margin-bottom: 1rem;
}
#mapImage{
  width: 650px;
  height: 700px;
  border-radius: 20px;
}

#Dashboard_lineChart_Two {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 0 1rem;
    box-sizing: border-box;
    width: 90%;
    height: 21.76rem;
    box-shadow: 1px -2px 9px 0px rgba(128, 128, 128, 0.226) ;
}

#Dashboard_lineChart_Two #Graph_headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #E3E3E3;
    color: #003E79;
}

#Dashboard_lineChart_Two #Graph_BomxText {
  width: 3.87rem;
  height: 2rem;
  border: 1px solid #0E093C;
  border-radius: 0.43rem;
  color: #0E093C;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#Chart_mainDiv {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    height: 19.56rem;
    border-radius: 25px;
    padding: 1rem;
    box-sizing: border-box;
}

#PayoutsText {
    display: flex;
    margin-bottom: 1rem;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
    border-bottom: 1.5px solid #E3E3E3;
    font-size: 1.125rem;
    color: #003E79;
}

.chart_calendar_container {
  display: flex;
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); */
  padding: 16px;
  max-width: 800px;
  margin: auto;
}

.chart_container {
  flex: 2;
  padding-right: 16px;
  width:170%;
  position: relative;
}

.calendar_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:200px;
  overflow-y:scroll;
  overflow-x:hidden;
  scrollbar-width:none; 
  height:120px;
  min-width:210px;
  border:.5px solid black;
  border-radius:20px;
  padding-top:70px;
  margin-top:-2%;
  position:relative;
  right:-15px;
  box-shadow: 1px 3px 9px 0px rgba(128, 128, 128, 0.226) ;
}

/* Highlight a special date */
.highlighted_day {
  background: #FBBF24 !important;
  color: white !important;
  border-radius: 50% !important;
}





/* mobile screen */
@media (max-width: 480px) {
  #Dashboard_CardGraph_Wrapper{
    width: 100%;
    display: grid;
    height: 124vh;
    margin-top: -120px;
    overflow: scroll;
    padding-top: -10px;
    /* justify-self: center; */
  }
  
  /* #Dashboard_Card_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } */
  #Dashboard_lineChart{
    margin-top: 20%;
  }
 
  #BarChart_Div{
    display: grid;
  }
  #Dashboard_lineChart_Two{
    margin-top: -19%;
    margin-bottom: 25px;
  }

}





