

#All_Users_toggleDiv{
    width: 23.81rem;
    height: 3.06rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.62rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    background: linear-gradient(120deg, #F6F6F6, #F2EFEF);
}

.All_Users_listDiv_button{
    background-color: transparent;
    border: none;
    color: #666666;
    font-size: 0.9rem;
    cursor: pointer;
}
.toggleDiv_buttonActive{
    min-width: 50px;
    background-color: #0E093C;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 0.5rem;
    height: 2rem;
    font-size: 0.9rem;
}
#All_Users_toggle_dateDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 1.9rem;
    /* border: 2px solid black; */
    border-radius:10px;
    align-items: center;    
    background: linear-gradient(120deg, #F6F6F6, #F2EFEF);
    padding: 0 15px;
}
#sortNfilterDiv{
    display: flex;
    /* border: 1px solid black ; */
    width:350px;
    justify-content:space-between;
}
#inputBox{
    border: none;
    height: 30px;
    background-color: #fff;
    border-radius:5px;
}
#searchDiv input {
    background-color: #FFFFFF;
    width: 14.5rem;
    border-radius: 0.75rem;
    padding-left: 2.5rem;
    box-sizing: border-box;
    height: 2.4rem;
}
#searchDiv {
    margin-top: -0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#searchDiv img {
    position: absolute;
    top: 2rem;
    width: 15px;
    left: 1rem;
    fill: #9e9ea7;
}
#All_Users_Card{
    margin-top: 4rem;
    display: grid;
    margin-left: -60px;
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
    gap: 5px; /* Adds spacing between cards */
    justify-content: center;
    gap: 2rem;
    width: 80vw;
    justify-self: center;
    /* border: solid black; */
}
.empty_userDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 1.25rem;
    margin-top: 1rem;
}
#eachCard{
    width: 220px;
    /* border: solid black ; */
}
.pagination{
    /* border: solid black ; */
    width: 90vw;
    margin-top: 10px;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 255, 0.390);
    gap: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.pageButton {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
}

.pageButton:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.disabled {
  background-color: #eee;
  cursor: not-allowed;
  color: #888;
}

.ellipsis {
  padding: 6px 10px;
  color: #888;
}



@media(max-width:480px){
    #All_Users_toggleDiv{
        width: 80vw;
        margin-top: 13px;
        margin-left: 8%;
        justify-self: center;

    }
    #All_Users_Card{
        margin-top: 18px;
        justify-items: center;
        height: 100vh;
        overflow-x: scroll;
    }
}