#wrapper{
    width: 100%;
    background: url(../assets/svg/backgroundImage.svg) no-repeat center;
    background-size: cover;
    color: white;
    position: relative;
    overflow: hidden;
    scrollbar-width: none;
    background-color: #ffffff;
}
#generalBody{
    margin-top: 5%;
}
#toggleIcon{
    position: fixed;
    left: 32px;
    z-index: 99999;
    top: 15px;
    width: 20px;
    color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(to top, #f2f5f9 0%,#eff1f3 50%, #ffffff 100%);
}
#toggleIcon:hover{
    border-radius: 10px;
}
#generalBodyFlex{
    margin-left: 70px;
    width: 95vw;
}
#wrapperFlex{
    display:  flex;
}

/* Mobile view */
/* @media (max-width: 480px) {
    #NavBar{
     z-index: 9999;
    }
 }  */