#wrapper{
    width: 100%;
    background: url(../assets/svg/backgroundImage.svg) no-repeat center;
    background-size: cover;
    color: white;
    position: relative;
    overflow: hidden;
    scrollbar-width: none;
    background-color: #ffffff;
}
#generalBody{
    margin-top: 5%;
}

/* Mobile view */
@media (max-width: 480px) {
    #NavBar{
     z-index: 9999;
    }
 } 